.ueberschrift, h1, p1, a {
    display: flex;
    justify-content: center;
  }
  
  .flex-grid {
    display: flex;
    background-color: pink;
  }
  .col {
    flex: 1;
    
  }
p:hover{
  cursor: pointer;
}

.links{
  display: none;
}

.rechts{
  display: none;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-s6z2{text-align:center}
.tg .tg-rjzt{background-color:#643403;color:#ffffff;text-align:center}